body{
     min-height: 100vh;
     background: linear-gradient(to bottom right, #ffffff, #cce0ff); /* soft sky blue */
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1{
    font-weight: bolder;
}

.tagline{
    font-style: italic;
    margin-top: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    margin-right: 20px;
    flex-wrap: wrap;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navigation a:hover {
    transform: scale(1.1);
}

.navigation a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: yellow;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.navigation a:hover::after {
    opacity: 1;
}

.About{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.About img{
    border-radius: 10px;
}

.About p{
    margin-top: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.Skills h2{
    margin-left:10px;
}

li{
    font-size: 20px;
    margin-bottom: 10px;
}

.Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s ease-in;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.4s ease-out;
}

.Resume a{
    text-decoration: none;
}

.Contact a{
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    img.card-img-top {
        max-width: 100%;
        height: auto;
        }

        .card-body p {
        text-align: justify;
        }
}
