body{
    font-family: 'Poppins';
    min-height: 100vh;
    background: linear-gradient(to bottom right, #ffffff, #cce0ff);/
}
        
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1{
    font-weight: bolder;
}

.tagline{
    font-style: italic;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    margin-right: 20px;
    flex-wrap: wrap;
}

.navigation a {
    color: white;
    text-decoration: none;
        font-size: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navigation a:hover {
    transform: scale(1.1);
}

.navigation a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: yellow;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.navigation a:hover::after {
    opacity: 1;
}

li{
    font-size: 20px;
    margin-bottom: 10px;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.4s ease-out;
}

a{
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    img.card-img-top {
        max-width: 100%;
        height: auto;
        }

        .card-body p {
        text-align: justify;
        }
}
